*.logfile
*.o
*.pbxproj
*.zip
.DS_Store
.idea
build
xcuserdata
project.xcworkspace
*.xcuserdata
TARGET_BUILD_DIRTARGET_BUILD_DIR
TARGET_BUILD_DIR
DerivedData
*.xcuserdata
*.xml
nbproject/
mothur
Mothur.1
DerivedData/
mothur.entitlements
tools

mothur_resources_11.1
mothur_resources_10.14

*.stdout

uchime

*.stderr
*.pat

tools/
