*.logfile
*.o
*.pbxproj
*.zip
.DS_Store
.idea
build
xcuserdata
project.xcworkspace
*.xcuserdata
TARGET_BUILD_DIRTARGET_BUILD_DIR
TARGET_BUILD_DIR
DerivedData
*.xcuserdata
*.xml
nbproject/
mothur
Mothur.1
DerivedData/

*.stdout

uchime

*.stderr
*.pat
